h3{
    color: rgb(165, 23, 70);
    font-size: 40px;
    margin: 20px 0 20px 0;
}
input{
    padding: 10px;
}
button{
    color: white;
    background-color: blueviolet;
    font-weight: bold;
    padding: 10px;
     margin: 10px;
}
body {
    background-color: rgb(250, 216, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 2rem;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 700px;
    border: 2px solid black;
}
.chart {
    border: 1px solid rgb(37, 12, 146);
    box-sizing: border-box;
}